.header{
  background-image: url('../../static/backgroundImage.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo-image{
  margin-left:60px;
  width: 200px;
  height:200px;
}